body{
    background-image: url(../images/1600w-DbNnKNgucMY.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#survey-form{
    background-color:rgb(3, 129, 131);
    width: 50%;
}
@media (max-width: 769) {
    #survey-form{
        width: 80%;
    }
}